.Container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Header {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}

.Content {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}
