.action-button {
  display: flex;
  justify-content: center;
  margin-top: 2vh;

  .button {
    display: flex;
    flex: 0.05;
    flex-direction: column;
    text-align: center;
    font-size: 2.25vh;
    background-color: #004a8f;
    border: 0;
    padding-top: 1.5vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 1.5vh;
    color: #ffffff;
    border-radius: 3vh;
  }
}
