@import "../../colours.scss";

.secondary_button {
  display: flex;
  justify-content: center;
  margin-top: 2vh;

  .button {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.25vh;
    border-color: $primary;
    background-color: $white;
    border-width: 0.2vh;
    padding-top: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 1vh;
    color: $primary;
    border-radius: 3vh;
    text-align: center;
    align-items: center;
  }
}
