.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  .header {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;

    .logo {
      height: 12.5vh;
      object-fit: contain
    }
  }

  .content {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
  }
}
