@import "../../../../colours.scss";

.terminal {
  background-color: $terminal-bg;
  margin-top: 1vh;

  .commands {
    margin: 1vh;
    padding: 1vh;
    font-size: 1.8vh;

    .running_spinner {
      margin-right: 0.5vh;
      color: $white;
    }

    .command {
      margin-top: 0.5vh;
      margin-bottom: 0.5vh;
      color: $white;
    }

    .command_success {
      margin-top: 0.5vh;
      margin-bottom: 0.5vh;
      color: $success;
    }

    .command_error {
      margin-top: 0.5vh;
      margin-bottom: 0.5vh;
      color: $error;
    }

    .copy_icon {
      margin-left: 1vh;
      color: $grey;
    }
  }
}
