  .terminal {
    background-color: #403E3E;
    margin-top: 1vh;

    .commands {
      margin: 1vh;
      padding: 1vh;
      font-size: 1.8vh;

      .running_spinner {
        margin-right: 0.5vh;
        color: #FFFFFF;
      }

      .command {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        color: #FFFFFF;
      }

      .command_success {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        color: #1dbc60;
      }

      .command_error {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        color: #ec4e3d;
      }

      .copy_icon {
        margin-left: 1vh;
        color: #808080;
      }
    }
  }
