@import "../../colours.scss";

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $bp-primary;
  color: $white;

  .header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      font-size: 5vh;
      margin-top: 2vh;
    }
  }

  .content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .spinner {
      color: $white;
    }

    .message {
      color: $white;
      font-size: 2vh;
      font-style: italic;
      margin-top: 2vh;
    }

    .error {
      color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: 2.5vh;
        padding-bottom: 0.5vh;
      }

      .retry_limit_exceeded_message {
        padding-top: 5vh;
        font-style: italic;
      }
    }
  }
}
