@import "./config.scss";

// Boarding Pass colours
$bp-primary: #FC776A;

// Generic app colours
$white: #FFFFFF;
$success: #1DBC60;
$error: #EC4E3D;
$grey: #808080;

// Message colours
$message-bg: #FEFAED;
$message-text: #F4D03F;

// Terminal colours
$terminal-bg: #403E3E;
