.container {
  padding: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: #FEFAED;
  margin-bottom: 5vh;
  color: #F4D03F;

  .icon_container {
    padding: 2vh;
  }

  .title {
    margin-bottom: 0.5vh;
    font-weight: bold;
  }
}
