{{define "header"}}
  <link rel="stylesheet" type="text/css" href="resources/navbar.css">
  <nav class="bd-navbar navbar is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://localhost:5000">
        <i class="fas fa-ticket-alt"></i><span id="brandTitle">Boarding Pass</span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
        <a class="navbar-item">
          Webhooks
        </a>
      </div>
    </div>
  </nav>
{{end}}
